<footer class="footer pt-5 mt-5">
  <div class="container">
    <div class=" row">
      <div class="col-12">
        <div class="text-center">
          <p class="text-dark my-4 text-sm font-weight-normal">
            &copy;Dmitriy Zheltukhin 2023.
          </p>
          <div class="list">
            <a href="https://t.me/Battleborn">
              <i class="fab fa-telegram text-lg opacity-8"></i>
            </a>
            <a href="https://github.com/Bloodviel/newspaper-agency-mate">
              <i class="fab fa-github text-lg opacity-8"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
