{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}
  <h1>Newspaper list</h1>
  {% if user.is_authenticated %}
    <a href="{% url 'news:newspaper-create' %}" class="btn btn-primary link-to-page">Create</a>
  {% else %}
    You have to <a href="{% url 'news:newspaper-create' %}" class="btn btn-primary link-to-page">Login</a> to add new newspaper.
  {% endif %}
  <form action="" method="get" class="form-inline">
    {{ search_form|crispy }}
    <input type="submit" value="🔍" class="btn btn-secondary">
  </form>
  <br>
  <ul>
    {% for news in newspaper_list %}
      <li><a href="{% url "news:newspaper-detail" pk=news.id %}">{{ news.title }}</a> - {{ news.topic }}</li>
    {% endfor %}
  </ul>


{% endblock %}
