{% extends "base.html" %}

{% block content %}
  <h1>{{ topic.name }}
    <a href="{% url 'news:topic-update' pk=topic.id %}" class="btn btn-secondary">Update</a>
    <a href="{% url 'news:topic-delete' pk=topic.id %}" class="btn btn-danger">Delete</a>
   </h1>
  <ul>
    {% for topic in topic.newspapers.all %}
      <li><a href="{% url 'news:newspaper-detail' pk=topic.id %}">{{ topic.title }}</a>
        <h6>Publishers:</h6>
        <ul>
          {% for publisher in topic.publishers.all %}
            <li>{{ publisher.first_name }} {{ publisher.last_name }}</li>
          {% endfor %}
          <br>
        </ul>
      </li>
    {% endfor %}
  </ul>
{% endblock %}
